<div>
  <nav class="navbar navbar-default TopBar">
    <!-- <label >The Big Test</label> -->
      <div class="navbar-header">
        <h3 class="navbar-brand">The Big test</h3>
          <button type="button" class="btn btn-dark float-right" routerLink="/logtime" >Log</button>
      </div>

  </nav>

  <div class="main-class">
    <div class="side-nav">
        <h6 routerLink="/dashboard">Dashboard</h6>
    </div>

    <div class="main-container">
      <router-outlet>
        </router-outlet>
    </div>

  </div>

</div>