.TopBar {
    background-color: #333333;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 55px;
}

.Header-class {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main-class {
    display: flex;
    height: calc(100% - 55px);
}

.side-nav {
    width: 160px;
    height: calc(100vh -55px);
    background-color: #bbbbbb;  
    padding-top: 24px
}

.main-container {
    width: calc(100% - 160px);
    padding: 20px 20px;
    /* height: calc(100vh -55px); */
}

.side-nav h6 {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #1b1b1b;
  display: block;
  cursor: pointer;
}